name: MinTic Deploy to AWS CloudFormation

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: MinTic Checkout and download repository
      uses: actions/checkout@v3

    - name: MinTic Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Deploy EC2
      run: aws cloudformation deploy --template-file templates/ec2.yml --stack-name ec2test

    - name: Deploy S3
      run: aws cloudformation deploy --template-file templates/s3.yml --stack-name noone